<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Index Page</title>
  </head>
  <body>
    <h1>Book List</h1>
    <ul>
      <% for(let i=0;i<books.length;i++) {%>
        <li>
         <a href="/books/<%=books[i].id %>"> <%= books[i].title %></a>
        </li><br/>
        <%}%> 
    </ul>
    <a href="/books/new">Add more books!</a>
  </body>
</html>
