<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books Collection</title>
  </head>
  <body>
    <h1>Books Collection Details</h1>
    <h2><%= book.title %></h2>
    <p>
      Author: <%= book.author %><br />
      It is <% if(!book.recommended){%>not<%} %> recommeded to read.
    </p>
    <a href="/books">Back to Book Collections</a>
  </body>
</html>
